/*
off-white (#fcfbf9)
chicago-flag-blue (#58b9f7)
chicago-flag-red (#cc0000)
*/

body {
    background-color: #fcfbf9;
    color: #58b9f7;
    font-family: monospace;
    text-align: center;
}

#content {
    width: 720px;
    margin: 50px auto 25px;
}

.warning {
    color: #cc0000;
}

.profile-picture {
    border-radius: 50%;
    height: 96px;
    width: 96px;
}

#resume-container {
    width: 720px;
    margin: 0 auto 50px;
}

#resume-container iframe {
    width: 100%;
    min-height: 960px;
    border: 0;
    background-color: #ffffff;
}

.resume-status {
    color: #58b9f7;
    font-size: 14px;
    margin-bottom: 12px;
}